<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="/wintergarten.css">
<link href="css/bootstrap-iso.css" rel="stylesheet">


<!-- Header -->
<header class="w3-container w3-xlarge w3-padding-24">
  <a href="/" class="w3-left w3-button w3-white">MY DEMO</a>
  <a href="#about" class="w3-right w3-button w3-white">Partners</a>
  <a href="#about" class="w3-right w3-button w3-white">Shop</a>
  <a href="#analytics" class="w3-right w3-button w3-white">Analytics</a>
</header>


<body>
  <section class="bg-cover pos-fixed pos-top pos-left fill-width fill-height">

    <div data-component="watch-unauthorized" class="margin-top-xxlarge z-low pos-relative">
      <div class="small-centered small-1-1 medium-1-2 large-1-3 padding-large border radius bg-white row">
        <header class="text-center margin-bottom-large">
        </header>

        <div class="text-center">
          <h4 class="head-2 margin-bottom-small">Unauthorized</h4>
          <p class="text-3">You must log in with an account to view subscription content</p>
        </div>

        <div class="bootstrap-iso">
          <div id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <form action="/login" method="post" class="form">
                    <div class="form-group">
                      <label class="col-form-label">Username:</label>
                      <input class="form-control" id="message-text" type="text" name="username" /><br/>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Password:</label>
                      <input class="form-control" id="message-text" type="password" name="password" />
                    </div>
                    <div class="modal-footer">
                      <button type="submit">Sign In</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>




  </section>


</body>