<link rel="stylesheet" type="text/css" href="/wintergarten.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="/" class="w3-left w3-button w3-white">MY DEMO</a>
    <a href="#about" class="w3-right w3-button w3-white">Search</a>
    <a href="#about" class="w3-right w3-button w3-white">Partners</a>
    <a href="/analytics" class="w3-right w3-button w3-white">Analytics</a>
    <a href="/live" class="w3-right w3-button w3-white">Live</a>
    <a href="#about" class="w3-right w3-button w3-white">Shop</a>
  </header>

  <body>
    <section class="row bg-cover bg-camera">
      <div class="small-centered text-center padding-vert-large ratio ratio--5-2">
        <div data-component="player">
          <div class="ratio ratio--5-2">
            <iframe id="ls_embed_1535042954" src="https://livestream.com/accounts/27551527/events/8341479/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen> </iframe>
            <script type="text/javascript" data-embed_id="ls_embed_1535042954" src="https://livestream.com/assets/plugins/referrer_tracking.js"></script>
          </div>
        </div>
      </div>
    </section>
    <script type="text/javascript" data-embed_id="ls_embed_{embedId}" src="//livestream.com/assets/plugins/referrer_tracking.js">
    </script>

  </body>
</div>