<link href="css/bootstrap-iso.css" rel="stylesheet">


<div class="bootstrap-iso">

<div id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">SIGN UP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="post" class="form" data-prop="action-join">
          <div class="form-group">
            <label class="block margin-bottom-xsmall">Full Name</label>
            <input type="text" name="customer[name]" value="Customer Name" class="form-control">
          </div>
          <div class="form-group">
            <label class="block margin-bottom-xsmall">Email</label>
            <input type="email" name="customer[email]" value="Email" class="form-control">
          </div>
          <div class="form-group">
            <label class="block margin-bottom-xsmall">Password</label>
            <input type="password" name="customer[password]" value="Password" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
